
.ui-draggable { cursor:move; }

#drag-to-share-tip { position:absolute; display:none; height:25px; padding:9px 9px 0px; color:#fff; font-family:Arial, Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; background:#000; background:rgba(0,0,0,.5); }
#drag-to-share-tip .arrow { width:0; height:0; line-height:0; border-right:8px solid #000; border-right:8px solid rgba(0,0,0,.5); border-top:8px solid transparent; border-bottom:8px solid transparent; position:absolute; left:-8px; top:9px; }

#drag-to-share-targets-wrapper { margin-right: auto; margin-left: auto; }
#drag-to-share-targets { display: none; list-style-type:none; position:fixed; margin: 0 auto; padding: 0; top:150px; z-index:99999; }
#drag-to-share-targets li { float:left; margin-right:20px; display:block; position:relative; }
#drag-to-share-targets li.last {margin-right: 0px;}

#drag-to-share-targets li a{ display:block; width:60px; height:60px; background:url(../images/iconSprite.png) no-repeat 0 0; position:relative; }
#drag-to-share-targets li#twitter a { background-position:0 0px; }
/*#drag-to-share-targets li#twitter a:hover { background-position:0 -240px; }*/
#drag-to-share-targets li#delicious a { background-position:0 -60px; }
/*#drag-to-share-targets li#delicious a:hover { background-position:0 -300px; }*/
#drag-to-share-targets li#facebook a { background-position:0 -120px; }
/*#drag-to-share-targets li#facebook a:hover { background-position:0 -360px; }*/
#drag-to-share-targets li#digg a { background-position:0 -180px; }
/*#drag-to-share-targets li#digg a:hover { background-position:0 -420px; }*/
#drag-to-share-targets li span { display:block; position:absolute; bottom:-40px; white-space:pre; color:#fff; }


#drag-to-share-targets #twitter .drag-to-share-share { margin-left:-40px; }
#drag-to-share-targets #delicious .drag-to-share-share { margin-left:-50px; }
#drag-to-share-targets #digg .drag-to-share-share { margin-left:-31px; }
#drag-to-share-targets #facebook .drag-to-share-share { margin-left:-53px; }

#drag-to-share-overlay  { background:#000 url(../images/bg.png) no-repeat center 135px; position:fixed; top:0; left:0; width:100%; height:100%; z-index:99997; }
#drag-to-share-helper { background-color:rgba(60,60,60,.5); position:absolute; height:35px; padding:15px 70px 0 20px; color:#fff; font-family:Arial; font-weight:normal; font-size:14px; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; border:3px solid #7d7d7d; }
#drag-to-share-thumb { width:50px; height:50px; position:absolute; right:0; top:0; border-left:3px solid #7d7d7d; }

.drag-to-share-share { font-weight:normal; position:absolute; font-size:20px; font-family:Arial; margin-left:-60px; top: 60px; }
